.not_auth{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.not_auth > a > img{
    width: 100%;
}
.not_auth > a{
    text-decoration: none;
    color: black;
}
.not_auth > a:hover{
    text-decoration: none;
}

.friend:hover{
    border: 1px solid black;
}